*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  min-width: 100%;
  background-color: #000;
}

.Modal {
  color: #fff;
  position: absolute;
  margin: auto;
  font-size: 1.5rem;
  z-index: 10;
  color: #efefef;
  background-color: rgba(0, 1, 37, 0.7);
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inset: 0;
}
.hidden {
  display: none;
}

.ScoreBoard {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
